
@{
    ViewBag.Title = "Index";
}
@using FormsWithHttpPost.Models;
@model List<Review>

<section>
    <div>
        <img src="~/Content/forDummies.png" /> <br />
        <h3> Past Reviews</h3>
    </div>
    <div>
        @foreach (Review review in Model)
        {
            <p><strong>@review.Title </strong>
                @for (int i = 0; i < review.Rating; i++)
                {
                    <img src="~/Content/star.png" />
                }
                <br /> <span>by @review.Username on @review.ReviewDate.ToShortDateString()</span>
            </p>
            <p>@review.Message</p>
            <hr /> 
        }

    </div>
</section>

