@{
    ViewBag.Title = "Summary";
}

@using TechElevator.Web.Models;
@model Favorites

<section>
    <div id="main-content">
        <h1>Favorite Things Exercise</h1>
        <h4><strong>Favorite Color:  </strong>@Model.FavoriteColor</h4>
        <h4><strong>Favorite Food: </strong> @Model.FavoriteFood</h4>
        <h4><strong>Favorite Season: </strong>@Model.FavoriteSeason</h4>
 
    </div>
</section>
