
@{
    ViewBag.Title = "xOrderedNameResult";
}



<section>
    <div class="body-content">
        <h2>xOrdered Name Result</h2> <br />
        <hr />
        <br />
        <h4>Ordered Name </h4>
        <p>First Name: <strong>@ViewBag.FirstName </strong></p>
        <p>Middle Initial: <strong>@ViewBag.Middle </strong></p> 
        <p>Last Name: <strong> @ViewBag.LastName </strong></p>

        @ViewBag.Message<br /> <br />
    </div>
</section>

