html {
  font: 15px Courier;
  color: white;
}
.box {
  flex-direction:row-reverse;
  padding: 10px;
  margin: -5px;
  width: 45px;
  text-align: center;
  
}
.odd {
  background-color: #ee3e64;
  display: inline-block;
}
.even {
  background-color: #44accf;
  display: inline-block;
}